.container
{
    height: 500px;
    width: 1000px;
    padding:30px;
    margin-left:center;
    margin-right: center;
    display: block;
    box-shadow: 0 10px 25px black;
    margin-top: 50px;
}
.container h1{
    text-align: center;
    color: black;
}
.container label{
  font-weight: bold;
    font-size: medium;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    display: block;
}
.container input{
    font-weight: bold;
    height: 40px;
    width: 500px;
    margin-left: 0;
    border-color: black;
}
.login-btn {
  width: 500px;
  height: 45px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
